# OSX
.DS_Store

# node.js
#node_modules/
npm-debug.log
yarn-error.log
.eslintcache

# jest
.jest/

# dev
dist/

# deploy script
publish/

#JetBrains IDE
.idea/

# log
server/log.txt

server/node_modules
node_modules
