<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="../login" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization> 
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true" />
    <handlers>
      <add name="HTMLHandler" type="System.Web.StaticFileHandler" path="*.html" verb="GET" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="-1" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
